@import './base.css';

#app {
  display: flex;
  flex-direction: column;  
  align-items: center;   
  justify-content: center;
  min-height: 100vh; 
  min-width: 100%;    
}

body {
  font-family: 'Montserrat', sans-serif;
}

.normal-text {
  font-weight: 400;
}

h1, .bold-text {
  font-weight: 600;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}